name: CI Pipeline
run-name: Test CI Pipeline
on:
    push: 
        branches: [main]
    pull_request:
        branches: [main]

env:
    NODE_ENV: "prod"
    NODE_VERSION: "22.18.0"

jobs:
    test:
        name: Running testing
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Setting Up nodejs
            uses: actions/setup-node@v3
            with:
              node-version: "${{env.NODE_VERSION}}"

          - name: Installing packages 
            run: npm ci

          - name: Run test 
            run: |
                npm run test


    build-image:
        name: Building docker image
        needs: [test]
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps: 
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{vars.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_PASSWORD}}
            - name: Set up QEM
            # assign IP address and access docker hub website
              uses: docker/setup-qemu-action@v3

            - name: SetUp Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Build
              uses: docker/build-push-action@v6
              with: 
                push: true
                tags: knelson24th/multi-con-todo:${{github.workflow_sha}}