name: Build Application

run-name: Build Application

on:
    workflow_run:
      workflows: ["Test CI pipeline"]
      types: [completed]

jobs:
    build-image:
        name: Building docker image
        needs: [test]
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps: 
            - name: Checkout repo
              uses: actions/checkout@v4
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{vars.DOCKERHUB_USERNAME}}
                password: ${{secrets.DOCKERHUB_PASSWORD}}
            - name: Set up QEM
            # assign IP address and access docker hub website
              uses: docker/setup-qemu-action@v3

            - name: SetUp Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            - name: Build
              uses: docker/build-push-action@v6
              with: 
                push: true
                tags: knelson24th/multi-con-todo:${{github.workflow_sha}}