name: CI Pipeline

on:
    push: 
        branches: [main]
    pull_request:
        branches: [main]

env:
    NODE_ENV: "prod"
    NODE_VERSION: "22.18.0"

jobs:
    test:
        name: Running testing
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Setting Up nodejs
            uses: actions/setup-node@v3
            with:
              node-version: "${{env.NODE_VERSION}}"

          - name: Installing packages 
            run: npm ci

          - name: Run test 
            run: |
                npm run test


    # build-image:
    #     name: Building docker image
    #     needs: [test, security-scan]
    #     runs-on: ubuntu-latest
    #     if: github.ref == 'ref/head/main'
    #     steps: 
    #         - name: Checkout repo
    #           uses: actions/checkout@v4

    #         - name: SetUp Docker
    #           uses: 