name: Deploy Application
run-name: Deploy Application

on:
    workflow_run:
      workflows: ["Build Application"]
      types: ["completed"]

jobs:
    Deploy:
        runs-on: ubuntu-latest
        if: ${{github.event.workflow_run.conclusion == 'success' }}

        permissions:
            actions: read
            contents: read

        steps:
            - name: Checkout repo
              uses: actions/checkout@v5

            - name: Download Artifact
              uses: actions/download-artifact@v4
              with:
                name: app-build
                path: ./deployment
                run-id: ${{github.event.workflow_run.id}}
                github-token: ${{secrets.GITHUB_TOKEN}}