name: Test CI pipeline

run-name: Test CI pipeline

on:
    push: 
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v5
            
            - name: Setup node Env
              uses: actions/setup-node@v3

            - name: Install packages
              run: npm ci

            - name: Run tests
              run: npm run test