name: GitHub Actons Tutorial
run-name: Github Actions Tutorial
on:
    push:
        branches: [main]

jobs:
    dynamic-variables:
        runs-on: ubuntu-latest
        steps:
            - name: Generate build metadata
              id: metadata
              run: |
                BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
                BUILD_NUMBER=$GITHUB_RUN_NUMBER
                VERSION_TAG=${GITHUB_REF#refs/tags/}

                echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV
                echo "BUILD_NUMBER=$BUILD_NUMBER" >> $GITHUB_ENV
                echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_ENV
                
            - name: Use generate variables
              run: |
                echo "Build Date: $BUILD_DATE"
                echo "Build Date: $BUILD_NUMBER"
                echo "Build Date: $VERSION_TAG" 
    multi-platform:
        strategy:
          matrix:
            os: [ubuntu-latest, windows-latest, macos-latest ]
            include:
                - os: ubuntu-latest
                  BUILD_COMMAND: "ls -l"
                - os: windows-latest
                  BUILD_COMMAND: "dir"
                
                - os: macos-latest
                  BUILD_COMMAND: "ls"

        runs-on: ${{matrix.os}}
        env: 
            BUILD_COMMAND: ${{matrix.BUILD_COMMAND}}
        
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Build applicaiton
              run: ${{env.BUILD_COMMAND}}
    build-artifact:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v5

        - name: setup nodejs env
          uses: actions/setup-node@v3
        
        - name: Install packages
          run: npm ci
        - name: Build application
          run: tar -cvzf /temp/dist/app_build.tar.gz . --warning=no-file-changed

        - name: upload build artifacts
          uses: actions/upload-artifact@v4
          with:
            name: app-build
            path: /app_build.tar.gz
    deploy:
      needs: build-artifact
      runs-on: ubuntu-latest

      steps:
        - name: Download build artifacts
          uses: actions/download-artifact@v4
          with:
            name: app-build
            path: ./deployment

        - name: List directory
          run: |
            tar -xvzf app_build.tar.gz .
            ls -l ./deployment