name: GitHub Actons Tutorial
run-name: Github Actions Tutorial
on:
    push:
        branches: [main]

jobs:
    dynamic-variables:
        runs-on: ubuntu-latest
        steps:
            - name: Generate build metadata
              id: metadata
              run: |
                BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')

                echo "BUILD_DATE=$BUILD_DATE" >> $GITHUB_ENV
                
            - name: Use generate variables
              run: |
                echo "Build Date: $BUILD_DATE" 
